<h1 align="center">Listing all items</h1>
<% obj.each do |order| %>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      
        <%=  order.item.name %>
          </div>
          </div>
          </div>
<% end %>