<h1 align="center">Listing all items</h1>
<div align="center">
<%= will_paginate %>
</div>
<%= render 'item', obj: @items %>
<div align="center">
<%= will_paginate %>
</div>
<%= link_to 'New Item', new_item_path %>

