<% if @item.errors.any? %>
 <h2>The following errors prevented the article from getting created</h2>
 <ul>
  <% @item.errors.full_messages.each do |msg| %>
   <li><%= msg %></li>
  <% end %>
 </ul>
<% end %>

<h1>New Item</h1>
<%= render 'form' %>
<%= link_to 'Back', items_path %>
