<div class="container">
  <footer class="footer">
    <small>
      Copyright ©by <a href="https://www.facebook.com/notagarwal02">Shubham Agarwal</a>
      </small>
      <nav>
        
      </nav>
      </footer>
      </div>